@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

body{
    line-height: 1.8;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 900 !important;
}


.navbar-nav button{
    width: 7em;
    height: 2.6em;
    font-weight: 700;
   background-color: #0000ff;
   color: #fff;
   box-shadow: 
     12px 12px 16px 0 rgba(0, 0, 0, 0.25),
     -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
   border-radius:0.5em !important;
   border: solid transparent;
 }
 
 .navbar-nav button:hover{
    background-color: #fff;
    color: #000000;
 }
 .navbar{
    background: #fff;

 }
 .a:hover{
    text-decoration: underline;
}

.navbar-brand img{
     max-height: 300px;
}

video{
    z-index: -1;
       position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        height: 100%;
        width: 100%;
        object-fit: cover;
}

.hero {
    padding-top: 180px;
    padding-bottom: 120px;
}


section{
    padding-top: 80px;
    padding-bottom: 80px;
    z-index: 2;
    position: relative;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient( rgb(17, 7, 254, 0.7), rgb(0, 224, 254, 0.7));
    z-index: -1;
}
.bg-cover{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero-section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    min-height: 10vh;
    width: 10vh;
}
.mb{
    margin: 1em;
    position: relative;
    top: -3px;
}

.btn-light:hover{
    font-weight: 700;
   color: #fff;
   box-shadow: 
     12px 12px 16px 0 rgba(0, 0, 0, 0.25),
     -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
   border-radius:0.5em !important;
   border: solid transparent;
}

@media (min-width:432px){
    .btn-light{
        margin: 1em;
        padding: 1em;
    }
}
.overlay--one {
    position: relative;
    z-index: 1;
}

.pb-100 {
    padding-bottom: 100px;
}
.pt-100 {
    padding-top: 100px;
}
.bg_img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.mb-30 {
    margin-bottom: 30px;
}

.feature-item-wrapper {
    padding: 50px 30px;
    background-color: #ffffff;
    box-shadow: 0 15px 45px rgb(0 0 0 / 5%);
}
.mb-none-30 {
    margin-bottom: -30px;
}
.bottom-white-bg {
    display: flex;
    align-items: center;
    justify-content: center;
}



.cmn-list li + li {
    margin-top: 15px;
}

.cmn-list li {
    position: relative;
    padding-left: 40px;
}
ul{
    list-style: none;
}
.cmn-list li::before {
    position: absolute;
    left: 0;
    top: 4px;
    content: '\f00c';
    font-family: 'Line Awesome Free';
    font-weight: 900;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    background-color: #0000ff;
    color: #ffffff;
    font-size: 12px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

    .fuel-features{
        position: relative;
        overflow: hidden;
    }
    .fuel-features:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 70%;
        left: 0;
        bottom: 0;
        background: #f4f9ff;
        z-index: -1
    }
    .fuel-features .container.has-shadow{
        padding: 50px 30px 20px;
        background: #fff
    }

    .section-padding-100 {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .section-padding-100-70 {
        padding-top: 100px;
        padding-bottom: 70px;
    }
    .section-padding-0-70 {
        padding-top: 0px;
        padding-bottom: 70px;
    }
    .section-padding-70-70 {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .section-padding-70-100 {
        padding-top: 70px;
        padding-bottom: 100px;
    }
    .section-padding-100-85 {
        padding-top: 100px;
        padding-bottom: 85px;
    }
    .section-padding-100-50 {
        padding-top: 100px;
        padding-bottom: 50px;
    }
    .section-padding-0-100 {
        padding-top: 0px;
        padding-bottom: 100px;
    }

    
.plan-features .plan-block {
    box-shadow: 0px 2px 10px 0px rgb(154 161 171 / 18%);
    -webkit-box-shadow: 0px 2px 10px 0px rgb(154 161 171 / 18%);
    padding: 30px 20px 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    background: #f4f9ff;
}

.plan-features .section-heading {
    margin-bottom: 3em;
}

.plan-features .plan-block h1{
    color: #040f49;
    font-weight: 500;
    font-size: 1rem;
}

.plan-features .plan-block .plan-percent h1{
    display: inline-block;
    font-size: 60px;
}

.plan-features .plan-block .plan-percent p{
    display: inline-block;
    font-weight: 500;
    font-size: 12px;
}

.plan-features .plan-block .plan-content{
    box-shadow: 0 4px 2px -2px grey;
}

.plan-features .plan-block .plan-content .title{
    display: inline-block;
}

.plan-features .plan-block .plan-content1 .title-2{
    margin-top: 15px;
    margin-bottom: 0px;
}

.plan-features .plan-block .plan-content1 .amount-range{
    font-size: 20px;
    font-weight: 700;
    color: #040f49;
}

.plan-features .plan-block .plan-content .body{
    display: inline-block;
}


.features .services-block-four{
    box-shadow: 0px 2px 27px 0px rgba(154, 161, 171, 0.18);
    -webkit-box-shadow: 0px 2px 27px 0px rgba(154, 161, 171, 0.18);
    padding: 30px 20px 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
}

.special .services-block-four {
    box-shadow: 0px 2px 27px 0px rgba(154, 161, 171, 0.18);
    -webkit-box-shadow: 0px 2px 27px 0px rgba(154, 161, 171, 0.18);
    padding: 20px 20px 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.special .services-block-four .inner-box {
    position: relative;
    padding-left: 160px;
}

.icon_wrapper i {
    top: 20px;
    left: 15px;
    color: #fff;
    font-size: 36px;
    z-index: 3;
    position: absolute;
}


.icon_foot:before {
    content: '';
    border-left: 80px solid transparent;
    border-bottom: 80px solid #5d49cc;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.icon_foot img{
    top: 20px;
    left: 12px;
    max-width: 41px;
    color: #fff;
    z-index: 3;
    position: absolute;
}
.icon_foot i {
    bottom: 12px;
    right: 8px;
    color: #fff;
    font-size: 28px;
    z-index: 3;
    position: absolute;
    transition: all .4s ease-in-out;
}
.icon_foot:hover i{
    right: 5px;
}

.has-shadow {
    -webkit-box-shadow: 0 9px 68px 0 rgba(62,57,107,.2);
    box-shadow: 0 9px 68px 0 rgba(62,57,107,.2);
    border-radius: 10px
}

.section-heading {
    position: relative;
    z-index: 1;
    margin-bottom: 80px;
}

.section-heading h2 {
    font-size: 30px;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.section-heading > p {
    margin-bottom: 0;
    line-height: 2;
    font-size: 16px;
    max-width: 600px;
    margin: 0 auto;
}

.dream-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
}

.main-pg-txt{
    visibility: visible; 
    animation-name: fadeInUp;
}

.a-delay-2{
    animation-delay: 0.2s; 
}
.a-delay-3{
    animation-delay: 0.3s; 
}
.a-delay-4{
    animation-delay: 0.4s; 
}
.a-delay-7{
    animation-delay: 0.7s;
}
.txt-center{
    text-align: center;
}
.display-n{
    display: none;
}


.btn1{
    padding: 0.5em;
     font-weight: 700;
    background-color: #0000ff;
    color: #fff;
    box-shadow: 
      12px 12px 16px 0 rgba(0, 0, 0, 0.25),
      -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    border-radius:0.5em !important;
    border: solid transparent;
    position: relative;
    top: 3em !important;
 }
 
 .btn1:hover{
     background-color: #fff;
 }
 
 .mt-6{
     margin-top: 6em;
 }
 
 .counter-card {
     justify-content: center;
 }
 
 @media (max-width: 480px) {
     .counter-card {
         flex-direction: column;
         text-align: center;
     }
 }
 
 .counter-card__icon i {
     font-size: 44px;
     color: #fff;
 }
 
 @media (max-width: 767px) {
     .counter-card__icon i {
         font-size: 48px;
     }
 }
 
 .counter-card__content {
     padding-left: 15px;
 }
 .counter-card__content .caption {
     font-size: 14px;
 }
 
 @media (max-width: 480px) {
     .counter-card__content {
         padding-left: 0;
         margin-top: 15px;
     }
 }
 
 .counter-card__amount {
     font-size: 28px;
 }
 
 @media (max-width: 767px) {
     .counter-card__amount {
         font-size: 28px;
     }
 }
 .counter-card__icon,
     .counter-card__content {
         width: 100%;
         text-align: center;
     }
     .counter-card__content {
         padding-left: 0;
         margin-top: 15px;
     }
 


     .footer {
        position: relative;
        overflow: hidden;
    }
    
    .footer .cta-area {
        padding-top: 100px;
    }
    
    .footer .cta-area .container {
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    }
    
    @media (max-width: 991px) {
        .footer .cta-area .cta-title {
            font-size: 28px;
        }
    }
    
    .footer__top {
        padding-top: 100px;
        padding-bottom: 70px;
    }
    
    .footer__bottom {
        padding: 15px 0;
        border-top: 1px solid rgba(255, 255, 255, 0.15);
    }
    
    .footer-counter-item {
        position: relative;
    }
    .footer-counter-item::after {
        position: absolute;
        content: '';
        top: 20%;
        right: 0;
        width: 1px;
        height: 60%;
    }
    .footer-counter-item:last-child:after {
        display: none;
    }
    @media (max-width: 767px) {
        .footer-counter-item:nth-child(2):after {
            display: none;
        }
    }
    .footer-counter-card {
        text-align: center;
    }
    .footer-counter-card .title {
        color: #fff;
        font-size: 24px;
        font-weight: 700;
    }
    .footer-counter-card .caption {
        color: #ffffff80;
        font-size: 14px;
    }
    
    @media (max-width: 575px) {
        .footer-widget {
            padding: 20px;
            background-color: #041f36;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
        }
    }
    
    .footer-widget__title {
        color: #ffffff;
        margin-bottom: 45px;
        position: relative;
    }
    
    .footer-logo img {
        max-height: 100px;
    }

    
    .btn2{
        padding: 1em;
        padding-left: 2em;
        padding-right: 2em;
        font-weight: 700;
        background-color: #0000ff;
        color: #fff;
        box-shadow: 
          12px 12px 16px 0 rgba(0, 0, 0, 0.25),
          -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
        border-radius:0.5em !important;
        border: solid transparent;
     }
     .btn2:hover{
         color: #000000;
     }


     .about{
        background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
     }

     .about1{
        min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn3{
     padding: 0.5em;
    padding-left: 2em;
        padding-right: 2em;
        font-weight: 700;
        background-color: #0000ff;
        color: #fff;
        box-shadow: 
          12px 12px 16px 0 rgba(0, 0, 0, 0.25),
          -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
        border-radius:0.5em !important;
        border: solid transparent;
        margin-top: 2em;
}